<div class="contents">
  <div class="form">
    <h3>新規投稿</h3>
    <%=form_with(model: @post, url:posts_path, local: true) do |f| %>
      <div class="field">
        <%= f.label :料理画像 %>
        <%= f.attachment_field :image %>
      </div>
      <div class="field">
        <%= f.label :料理名 %>
        <%= f.text_area :name %>
      </div>
      <div class="field">
        <%= f.label :作り方 %>
        <%= f.text_area :recipe %>
      </div>
      <div class="field">
        <%= f.label :材料 %>
        <%= f.text_area :material %>
      </div>
      <div class="field">
        <%= f.label :調理時間 %>
        <%= f.text_area :cooking_time %>
      </div>
      <div class="field">
        <%= f.label :ジャンル %>
        <%= f.text_area :tag_name %>
      </div>
        <%= f.submit %>
    <% end %>
  </div>
  <div class="tag-list">
    <h3>タグリスト</h3>
  </div>
</div>