<h2>新規投稿</h2>
<div class="form">
  <%=form_with(model: @post, url:posts_path, local: true) do |f| %>
    <div class="field">
      <%= f.label :"料理画像" %></br>
      <%= f.attachment_field :image %>
    </div>
    <div class="field">
      <%= f.label :"料理名" %></br>
      <%= f.text_field :name, size: "30×10" %>
    </div>
    <div class="field">
      <%= f.label :"材料" %></br>
      <%= f.text_area :material, size: "40×40" %>
    </div>
    <div class="field">
      <%= f.label :"作り方" %></br>
      <%= f.text_area :recipe, size: "40×40" %>
    </div>
    <div class="field">
      <%= f.label :"調理時間" %></br>
      <%= f.number_field :cooking_time, size: "30×10", placeholder: "半角数字を入力" %>分
    </div>
    <div class="field">
      <%= f.label :"タグ" %></br>
      <%= f.text_area :tag_name, size: "40×10", placeholder: "例：日帰り向け 縦走向け 時短 こだわり" %></br>
      <%= f.submit "投稿する", class:"button" %>
    <% end %>
    </div>
</div>

<div class="tag-list">
  <h2>タグリスト</h2>
  <h3>
  <% @tags.each do |tag| %>
    <%= link_to tag.tag_name, tag_posts_path(tag_id: tag.id) %>(<%= tag.posts.count %>)
  <% end %>
  </h3>
  </div>
